html {
     background-color: #23262e;
}
body{
     margin: 0;
}
.dado{
     display: flex;
     padding: 50px 50px;
     flex-wrap: wrap;
}
.punto{
     width: 27px;
     height: 27px;
     border-radius: 50%;
     background: rgb(48, 48, 48);
}
[class^="cara-"]{
     border-radius: 13%;
     box-shadow: 10px 10px 5px 4px rgba(25, 25, 25, .4);
     background-color: rgb(250, 250, 250);
     border: solid 10px rgb(36, 36, 36);
     width: 100px;
     height: 100px;
     padding: 24px;
     display: flex;
     margin: 33px 22px;
}
.cara-1{
     
     justify-content: center;
     align-items: center;
}
.cara-2{
     justify-content: space-between;
}
.cara-2 .punto:nth-child(2){
     align-self: flex-end;
}
.cara-3{
     justify-content: space-between;
}
.cara-3 .punto:nth-child(2){
     align-self: center;
}
.cara-3 .punto:nth-child(3){
     align-self: flex-end;
}
.cara-4{
     justify-content: space-between;
}
.cara-4 .column{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.cara-5{
     justify-content: space-between;
}
.cara-5 .column{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.cara-5 .punto{
     align-self: center;
}
.cara-6{
     justify-content: space-between;
}
.cara-6 .column{
     display: flex;
     justify-content: space-between;
     flex-direction: column;
}
